<!DOCTYPE html>
<html>
  <head>
    <title>Jbsheet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign Up", new_user_registration_path %></button>
    <button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign In", new_user_session_path %></button>
  </nav>
</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
